/* ------------------- */
/* Utils */
.hide {
  display: none !important;
}
[data-template] {
  display: none !important;
}
.text-blue {
  color: #1A4E86;
}

/* ------------------- */
/* Masthead */
#masthead {
  background-color: #1A4E86;
  color: #D5D5D5;
  padding-top: 64px;
  padding-bottom: 64px;
}
#masthead h1 {
  font-size: 1.5rem;
  color: #FFF;
}
#masthead .logo {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0px auto;
}

/* ------------------- */
/* Outdated */
#outdated-warning {
  padding-top: 32px;
  padding-bottom: 32px;
}

#outdated-warning .browser-download-dropdown .dropdown-item>img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.outdated-stat-emph {
  font-size: 24px;
  text-decoration: underline;
}

/* ------------------- */
/* Claims */
#browser-identify {
  margin-top: 32px;
  margin-bottom: 64px;
}
#browser-identify .claims-title {
  display: flex;
  align-items: center;
  color: #1A4E86;
}

#browser-identify [data-hook="claims-icon"] {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

/* ------------------- */
/* Detect */
#browser-detect  {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #F6F6F6;
}

[data-hook="detect-chromium-correct-version"] .title,
[data-hook="detect-chromium-incorrect-version"] .title,
[data-hook="detect-not-chromium"] .title {
  display: flex;
  align-items: center;
}
[data-hook="detect-chromium-correct-version"] .title>.bi,
[data-hook="detect-chromium-incorrect-version"] .title>.bi,
[data-hook="detect-not-chromium"] .title>.bi {
  margin-right: 16px;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

[data-hook="detect-chromium-correct-version"] .title {
  color: #00A89D;
}

[data-hook="detect-chromium-incorrect-version"] .title {
  color: var(--bs-warning);
  align-items: flex-start;
}

[data-hook="detect-not-chromium"] .title {
  color: var(--bs-info);
}

.version-history .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.version-history .card-title [data-tt="vulnerabilitiescontainer"] {
  font-size: 1rem;
}

/* ------------------- */
/* Footer */
footer {
  background-color: #1A4E86;
  color: #FFF;
  padding-bottom: 64px;
  padding-top: 64px;
}
footer a {
  color: #FFF !important;
}
footer .logo {
  width: 64px;
  height: 64px;
  margin-right: 16px;
}